{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block css_files %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto; min-height: auto;
      background-color: #ccebff;position: absolute;
}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
  .notimage {
   position: relative;
}
  .flexbox { display: flex; }
    .flexbox .stretch { flex: 5; }
    .flexbox .normal { flex: 1; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 23px;
    text-align: center;
    color: black;
    width: 26px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
  </style>
{% endblock %}
{% block body %}
 <nav class="navbar navbar-fixed-top" style="border-radius:0px; border:0;background-color: lightblue;">
    <div style="width: 98%">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        </button>
          <span><a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'UR8.png' %}" width="39" height="26"></a></span>
          <span class="nav navbar-brand navbar-left collapse navbar-collapse">
              <input style="border-width:0px;border:none;outline: none;" onclick="HideSide()" type="image"
                     src="{% static 'hide.png' %}" width="27" height="26"></span>
          <span  style="margin-left: 1%;padding-top: 11px;width: 63%;position: absolute">
<form style="width: 100%" action="{% url 'search_vid' %}" method="post">
            {% csrf_token %}
            <section class="flexbox">
            <div class="stretch">
              <input  type="text" class="form-control" style="border-radius:0px;" placeholder="Search..." name="search">
                </div>
                <button type="submit" style="border-radius:0px;
                                         background-color:#888888;
                                         border-color:#808080;
                                         " class="btn btn-primary search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </section>
          </form>
</span>
      </div>
      <div  class=" collapse navbar-collapse" id="myNavbar">
          <ul style="float: right;" class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li style="margin-right: 1px;"><a href="{% url 'upld_vid' %}" >
                  <img  src="{% static "up.png" %}" width="27" height="28"></a></li>
             {% if requset.user.profile.count < 10 %}
                 <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "not.png" %}" style="margin-top: 1px;" width="26" height="26">
                  <div class="note">{{ request.user.profile.count }}</div>
             {% else %}
                 <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "nonot.gif" %}" style="margin-top: 1px;" width="26" height="26">
             {% endif %}
          </a></li>
              <li style="position: initial;" class="dropdown fill-width" >
              {% if request.user.profile.image == 'avatar/None/default_avatar.png' %}
                <span style="margin-right: 5%;padding: 13px;" class=" dropdown-toggle" data-toggle="dropdown">
                   <a href=""> <img style="margin-top: 14px;margin-right: 20px;" class="sm-avatar" src="{% static request.user.profile.image %}" width="29" height="29"></a></span>
              <ul style="margin-right: 20px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'profile' %}"><b style="font-size: 140%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 140%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 140%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 140%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 140%;">Sign out</b></a></li>
          </ul>
              {% else %}
                <span style="margin-right: 5%;padding: 13px;" class="dropdown-toggle" data-toggle="dropdown">
                    <a href="">
                        <img style="margin-top: 14px;margin-right: 20px;" class="sm-avatar" src="{{ request.user.profile.image.url }}" width="29" height="29">
                    </a></span>
              <ul style="margin-right: 20px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li  ><a href="{% url 'profile' %}"><b style="font-size: 140%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 140%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 140%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 140%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 140%;">Sign out</b></a></li>
          </ul>
          {% endif %} {% endif %}
           </li>{% if not request.user.is_authenticated %}
            <li ><a href="{% url 'sign_in' %}"><img src="{% static 'login.png' %}" width="27" height="27"></a></li>
            <li><a href="{% url 'sign_up' %}"><img  src="{% static 'Sign.png' %}" width="27" height="27"></a></li>{% endif %}
        </ul>
      </div>
    </div>
  </nav>
    <div style="width: 3%;margin-top: 0%">
              <script>
                  $('a[data-toggle="collapse"]').on('shown.bs.collapse', function (r) {
                        var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    x.style.width = '0%';
        y.style.width = '100%';
        x.style.display = 'none';
});
    function HideSide() {
    var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    if (x.style.width === '0%') {
        x.style.width = '13%';
        y.style.width = '83%';
        x.style.display = 'block';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
    } else {
        x.style.width = '0%';
        y.style.width = '98%';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
        x.style.display = 'none';
    }
}
</script>
</div>
<div id="hideleft" style="background-color: #e8f7fd; width: 0%;display: none; float: left;position: fixed;height: 100%;margin-right: 9%;padding-left: 1%;">
    {% if request.user.is_authenticated %}<br><Br>
        <div style="text-align: left; padding-left: 1%;">
            <div style="margin-left: 0px !important;margin-right: 0px !important;">
                <b style="font-size: 170%;">
                <a href="{% url 'subscribes' %}"><img style=" margin-right: 1%;" src="{% static "sub.png" %}" width="13" height="13">
                Subs</a></b>
        </div><br>
         {% for channel in users %}
             {% if channel.username in request.user.profile.subscribes %}
             {% if not channel.is_superuser %}
                 {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="25" height="25" ></a>
                 {% else %}
                    <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="25" height="25" ></a>
                 {% endif %}
             {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
         {% endif %}
         {% endfor %}
    {% endif %}
    <hr color="white">
     <div  style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 170%;">
        <a href="{% url 'channels' %}"><img src="{% static "tv.png" %}" style=" margin-right: 1%;" width="13" height="13">
         Channels</a></b>
    </div><br>
            {% if request.user.is_authenicated %}
                {% for channel in users %}
                    {% if channel != request.user %}
                        {% if not channel.is_superuser   %}
                            {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                                <img src="{% static channel.profile.image %}" width="25" height="25" >
                            {% else %}
                                <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                        {% endif %}
                    {% endif %}
                        <i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for channel in users %}
            {% if not channel.is_superuser   %}
                    <a href="{% url 'channel' channel.username %}">
                {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <img src="{% static channel.profile.image %}" width="25" height="25" >
                {% else %}
                    <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                </a>{% endif %}
            {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
            {% endif %}
      </div>
    </div>
    <div id="homediv" style="font-size:120%; width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
 <div id="homediv" style="font-size:120%; width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
<b style="font-size: 800%;text-align: center;padding: 40%;">400</b>
    </div>
{% endblock %}
