{% extends "base.html" %}
{% block title %}Edit Review Page{% endblock %}
{% block css_files %}
  {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
  <style media="screen">
  .notimage {
   position: relative;
}.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    label > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
      label > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
    }
      label > input:checked + img { /*(RADIO CHECKED) IMAGE STYLES */
        opacity: .6;
    }

    h1{
      padding-top: 30px;
      padding-bottom: 0px;
    }
    hr{
      border-color: #ccebff;
    }

  </style>
{% endblock %}

{% block body %}
 <nav class="navbar navbar-fixed-top" style="border-radius:0px; border:0;background-color: lightblue;">
    <div style="width: 100%">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        </button>
          <span><a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'UR8.png' %}" width="39" height="26"></a></span>
          <span class="navbar-brand"><input style="border-width:0px;
border:none;outline: none;" onclick="HideSide()" type="image" src="{% static 'hide.png' %}" width="27" height="26"></span>
<form style="padding-top: 1px;" class="navbar-form navbar-left" action="{% url 'search_vid' %}" method="post">
            {% csrf_token %}
            <section class="flexbox">
            <div class="stretch">
              <input  style="float:left;" type="text" class="form-control" style="border-radius:0px;" placeholder="Search..." name="search">
                </div>
                <button type="submit" style="border-radius:0px;
                                         background-color:#888888;
                                         border-color:#808080;
                                         " class="btn btn-primary search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </section>
          </form>
      </div>
      <div  class=" collapse navbar-collapse" id="myNavbar">
          <ul style="float: right;" class="nav navbar-nav">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'upld_vid' %}" >
                  <img  src="{% static "up.png" %}" width="27" height="28"></a></li>
             {% if requset.user.profile.count < 10 %}
                 <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "not.png" %}" style="margin-top: 1px;" width="26" height="26">
                  <div class="note">{{ request.user.profile.count }}</div>
             {% else %}
                 <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "nonot.gif" %}" style="margin-top: 1px;" width="26" height="26">
             {% endif %}
          </a></li>
              <li style="position: initial;" class="dropdown fill-width" >
              {% if request.user.profile.image == 'avatar/None/default_avatar.png' %}
                <span style="margin-right: 5%;padding: 13px;" class=" dropdown-toggle" data-toggle="dropdown">
                   <a href=""> <img style="margin-top: 14px;margin-right: 4%;" class="sm-avatar" src="{% static request.user.profile.image %}" width="29" height="29"></a></span>
              <ul style="padding-right: 40px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'profile' %}"><b style="font-size: 140%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 140%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 140%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 140%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 140%;">Sign out</b></a></li>
          </ul>
              {% else %}
                <span style="margin-right: 5%;padding: 13px;" class="dropdown-toggle" data-toggle="dropdown">
                    <a href="">
                        <img  style="margin-top: 14px;" class="sm-avatar" src="{{ request.user.profile.image.url }}" width="29" height="29">
                    </a></span>
              <ul style="padding-right: 40px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li  ><a href="{% url 'profile' %}"><b style="font-size: 140%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 140%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 140%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 140%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 140%;">Sign out</b></a></li>
          </ul>
          {% endif %} {% endif %}
           </li>{% if not request.user.is_authenticated %}
            <li><a href="{% url 'sign_in' %}"><img src="{% static 'login.png' %}" width="27" height="27"></a></li>
            <li><a href="{% url 'sign_up' %}"><img src="{% static 'Sign.png' %}" width="27" height="27"></a></li>{% endif %}
        </ul>
      </div>
    </div>
  </nav>
    <div style="width: 3%;margin-top: 0%">
              <script>
                  $('a[data-toggle="collapse"]').on('shown.bs.collapse', function (r) {
                        var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    x.style.width = '0%';
        y.style.width = '100%';
        x.style.display = 'none';
});
    function HideSide() {
    var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    if (x.style.width === '0%') {
        x.style.width = '13%';
        y.style.width = '83%';
        x.style.display = 'block';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
    } else {
        x.style.width = '0%';
        y.style.width = '98%';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
        x.style.display = 'none';
    }
}
</script>
</div>
     <div id="hideleft" style="background-color: #e8f7fd; width: 0%;display: none; float: left;position: fixed;height: 100%;margin-right: 9%;padding-left: 1%;">
<br><Br><div style="text-align: left; padding-left: 1%;">
    <div style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 170%;">
        <a href="{% url 'subscribes' %}"><img style=" margin-right: 1%;" src="{% static "sub.png" %}" width="13" height="13">
         Subs</a></b>
    </div><br>
        {% if request.user.is_authenticated %}
            {% for channel in subchan %}
                {% if not channel.is_superuser  %}
                    {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="25" height="25" ></a>
                    {% else %}
                    <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="25" height="25" ></a>
                    {% endif %}
                {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
        {% endif %}
<hr color="white">
     <div  style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 170%;">
        <a href="{% url 'channels' %}"><img src="{% static "tv.png" %}" style=" margin-right: 1%;" width="13" height="13">
         Channels</a></b>
    </div><br>
            {% if request.user.is_authenicated %}
                {% for channel in users %}
                    {% if channel != request.user %}
                        {% for sub in subchan %}
                    {% if channel != sub %}
                {% if not channel.is_superuser   %}
                    {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                        <img src="{% static channel.profile.image %}" width="25" height="25" >
                    {% else %}
                        <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                    {% endif %}
                {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
                    {% endif %}
                        {% endfor %}{% endif %}
                {% endfor %}
            {% else %}
                {% for channel in users %}
            {% if not channel.is_superuser   %}

<a href="{% url 'channel' channel.username %}">
                {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <img src="{% static channel.profile.image %}" width="25" height="25" >
                {% else %}
                    <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                </a>{% endif %}
            {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
            {% endif %}
      </div></div>
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
<h1 style="padding-left: 40%">Edit Your Review Here:</h1>
<hr style="padding-top: 0px; padding-bottom: 15px; border-color: #ccebff;">

<form style="padding-left: 25%" class="" id="edit-review-form" data-id="{{ review.id }}" data-vid="{{ vID }}">
  {% csrf_token %}
  <b style="font-size: 150%; padding-right: 6px;">Rating:</b>
        <label>
        <input type="radio" name="star" value=1>
          <img src="{% static 'star.png'%}" id="1">
        </label>
        <label>
        <input type="radio" name="star" value=2 >
        <img src="{% static 'star.png'%}" id="2">
        </label>
        <label>
        <input type="radio" name="star" value=3 >
        <img src="{% static 'star.png'%}" id="3">
        </label>
        <label>
        <input type="radio" name="star" value=4>
        <img src="{% static 'star.png'%}" id="4">
        </label>
        <label>
        <input type="radio" name="star" value=5>
        <img src="{% static 'star.png'%}" id="5">
      </label><br>
      <p></p>
  <textarea id="edit-review-area" rows="4" cols="60">{{ review.text }}</textarea><br>
  <p></p>
  <button type="submit" id="edit-review-btn" style="border-radius:0px;margin-left:5px;margin-bottom:26px;" class="btn btn-success">Edit Review !</button>
</form>
</div>
{% endblock %}

{% block js_files %}

  <script type="text/javascript">

    $("#edit-review-form").submit(function(e){

      var text = $('#edit-review-area').val();
      var pk = $(this).data('id');
      var pk2 = $(this).data('vid');
      var url = "https://ur8.herokuapp.com/ur8/edit-review/"+pk2+"/"+pk+"/";
      var token = $('#edit-review-form > input[name=csrfmiddlewaretoken]').val();

      e.preventDefault();
      if($('input[name=star]').is(':checked') && (text != "") && (text.length > 0) ){
        var rating = $('input[name=star]:checked').val();

        $.ajax({
          type:'POST',
          url:url,
          data:{
            edit_review:'yes',
            rating:rating,
            text:text,
            csrfmiddlewaretoken:token
          },
          success:function(data){
            if (data.ok == 'yes') {
              var url = "https://ur8.herokuapp.com/ur8/";
              $(location).attr('href', url);
            }
          }
        });

      }else{
        window.alert("You haven't rated or reviewed the video");
      }

    });

  </script>
{% endblock %}