{% extends "base.html" %}
{% block title %}My Notifications{% endblock %}
{% block css_files %}
  {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
  .notimage {
   position: relative;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    .material-icons{
      color: #ffcc00;
      font-size: 24px;
    }
    .fa-thumbs-o-up{
      color: #0066cc;
      font-size: 24px;
    }
    .fa-thumbs-o-down{
      color: #cc3300;
      font-size: 24px;
    }
    .btn-warning{
      border-radius: 0px;
      padding-right: 20px;
      background-color: #ffcc00;
      border-color: #ffcc00;
      color: white;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .open .dropdown-toggle .btn-warning {
      background-color: #ff9900;
      border-color: #ff9900;
      color: white;
    }
    .btn-danger{
      background-color: #ff3300;
      border-color: #ff3300;
      border-radius: 0px;
      padding-right: 20px;
      color: white;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle .btn-danger {
      background-color: #e62e00;
      border-color: #e62e00;
      color: white;
    }

    .btn-default{
      padding-right: 20px;
    }

    #view-btn{
      background-color: #99ccff !important;
      border-color: #99ccff !important;
      color: white;
    }

    #view-btn:hover, #view-btn:active{
      background-color: #4da6ff !important;
      border-color: #4da6ff !important;
      color: white !important;
    }

    .glyphicon-remove{
      padding-right: 4px;
    }
    .glyphicon-pencil{
      padding-right: 4px;
    }
    .thumbnail{
      border-radius: 0px;
      border:0;
      /*box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
    }
    h3{
      padding-top: 0px;
    }
    .sm-avatar{
      border-radius: 15px;
    }

    .bg-avatar{
      border-radius: 150px;
    }

    /*.btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle..btn-primary {
      background-color: #595959;
      border-color: #595959;
    }*/
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }

    h1{
      padding-top: 30px;
    }

  </style>
{% endblock %}
{% block body %}
  <nav class="navbar navbar-fixed-top" style="border-radius:0px; border:0;background-color: lightblue;">
    <div style="width: 100%">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        </button>
          <span><a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'UR8.png' %}" width="34" height="26"></a></span>
          <span class="navbar-brand"><input style="border-width:0px;
border:none;outline: none;" onclick="HideSide()" type="image" src="{% static 'hide.png' %}" width="27" height="26"></span>
<form style="padding-top: 1px;" class="navbar-form navbar-left" action="{% url 'search_vid' %}" method="post">
            {% csrf_token %}
            <section class="flexbox">
            <div class="stretch">
              <input  style="float:left;" type="text" class="form-control" style="border-radius:0px;" placeholder="Search..." name="search">
                </div>
                <button type="submit" style="border-radius:0px;
                                         background-color:#888888;
                                         border-color:#808080;
                                         " class="btn btn-primary search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </section>
          </form>
      </div>
      <div  class=" collapse navbar-collapse" id="myNavbar">
          <ul style="float: right;" class="nav navbar-nav">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'upld_vid' %}" >
                  <img  src="{% static "up.png" %}" width="27" height="28"></a></li>
             {% if requset.user.profile.count < 10 %}
                 <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "not.png" %}" style="margin-top: 1px;" width="26" height="26">
                  <div class="note">{{ request.user.profile.count }}</div>
             {% else %}
                 <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "nonot.gif" %}" style="margin-top: 1px;" width="26" height="26">
             {% endif %}
          </a></li>
              <li style="position: initial;" class="dropdown fill-width" >

              {% if request.user.profile.image == 'avatar/None/default_avatar.png' %}
                <span style="margin-right: 5%;padding: 13px;" class=" dropdown-toggle" data-toggle="dropdown">
                   <a href=""> <img style="margin-top: 14px;margin-right: 4%;" class="sm-avatar" src="{% static request.user.profile.image %}" width="29" height="29"></a></span>
              <ul style="margin-right: 12px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'profile' %}"><b style="font-size: 140%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 140%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 140%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 140%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 140%;">Sign out</b></a></li>
          </ul>

              {% else %}

                <span style="margin-right: 5%;padding: 13px;" class="dropdown-toggle" data-toggle="dropdown">
                    <a href="">
                        <img  style="margin-top: 14px;" class="sm-avatar" src="{{ request.user.profile.image.url }}" width="29" height="29">
                    </a></span>
              <ul style="margin-right: 12px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li  ><a href="{% url 'profile' %}"><b style="font-size: 140%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 140%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 140%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 140%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 140%;">Sign out</b></a></li>
          </ul>
          {% endif %} {% endif %}

                {% if not request.user.is_authenticated %}
                <span style="margin-right: 5%;padding: 13px;" class="dropdown-toggle" data-toggle="dropdown">
                   <a href=""> <img style="margin-top: 14px;margin-right: 4%;" src="{% static "v.png" %}" width="29" height="29"></a></span>
              <ul style="margin-right: 12px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'sign_in' %}"><b style="font-size: 140%;">Sigin in</b></a></li>
            <li><a href="{% url 'sign_up' %}"><b style="font-size: 140%;">Sign up</b></a></li>
          </ul>

            {% endif %}
           </li>

        </ul>
      </div>
    </div>
  </nav>
    <div style="width: 3%;margin-top: 0%">
              <script>
                  $('a[data-toggle="collapse"]').on('shown.bs.collapse', function (r) {
                        var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    x.style.width = '0%';
        y.style.width = '100%';
        x.style.display = 'none';
});
    function HideSide() {
    var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    if (x.style.width === '0%') {
        x.style.width = '13%';
        y.style.width = '83%';
        x.style.display = 'block';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
    } else {
        x.style.width = '0%';
        y.style.width = '98%';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
        x.style.display = 'none';
    }
}
</script>
</div>
    <div id="hideleft" style="background-color: #e8f7fd; width: 0%;display: none; float: left;position: fixed;height: 100%;margin-right: 9%;padding-left: 1%;">
<br><Br><div style="text-align: left; padding-left: 1%;">
    <div style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 170%;">
        <a href="{% url 'subscribes' %}"><img style=" margin-right: 1%;" src="{% static "sub.png" %}" width="13" height="13">
         Subs</a></b>
    </div><br>
        {% if request.user.is_authenticated %}
            {% for channel in subchan %}
                {% if not channel.is_superuser  %}
                    {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="25" height="25" ></a>
                    {% else %}
                    <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="25" height="25" ></a>
                    {% endif %}
                {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
        {% endif %}
<hr color="white">
     <div  style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 170%;">
        <a href="{% url 'channels' %}"><img src="{% static "tv.png" %}" style=" margin-right: 1%;" width="13" height="13">
         Channels</a></b>
    </div><br>
            {% if request.user.is_authenicated %}
                {% for channel in users %}
                    {% if channel != request.user %}
                        {% for sub in subchan %}
                    {% if channel != sub %}
                {% if not channel.is_superuser   %}
                    {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                        <img src="{% static channel.profile.image %}" width="25" height="25" >
                    {% else %}
                        <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                    {% endif %}
                {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
                    {% endif %}
                        {% endfor %}{% endif %}
                {% endfor %}
            {% else %}
                {% for channel in users %}
            {% if not channel.is_superuser   %}

<a href="{% url 'channel' channel.username %}">
                {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <img src="{% static channel.profile.image %}" width="25" height="25" >
                {% else %}
                    <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                </a>{% endif %}
            {% endif %}<i style="font-size: 180%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
            {% endif %}
      </div></div>
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">

<p class="bg-info text-info" style="margin-left: 0px !important;margin-right: 0px !important;"><b style="font-size: 250%;">My notifications</b></p><br>
  <hr style="border-color: #ccebff;">


    <div class="row">
    {% for video in not_vid %}
        <div class="col-sm-4 col-md-3 col-bg-2">
            <B>NOTIFICATION</B><BR><BR>
            <a href="{% url 's_vid' video.id %}"><B>{{ video.title }}</B><Br><br>
            {% if not video.th %}
            <img src="{{ video.thumpnail }}" width=38.4%" height="21.6%">
        {% else %}
       <img src="{{ video.thumpnail.url }}" width=38.4%" height="21.6%">
        {% endif %}</a><br><br>
        <a href="{% url 'del_notifications' video.id %}" class="btn btn-danger" role="button">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete </a>
      </div>
    {% endfor %}</div>
        </div>
{% endblock %}