{% extends "base.html" %}
{% block title %}Change Password Page{% endblock %}
{% block css_files %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>
    .notimage {
   position: relative;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
    hr{
      border-color: #ccebff;
    }

  </style>
{% endblock %}
{% block body %}
 <nav class="navbar navbar-fixed-top" style="border-radius:0px; border:0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: lightblue;">
    <div style="width: 100%"      >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        </button>
          <span><a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'UR8.png' %}" width="45" height="30"></a></span>
          <span class="navbar-brand"><input style="border-width:0px;
border:none;outline: none;" onclick="HideSide()" type="image" src="{% static 'hide.png' %}" width="35" height="33"></span>
<form style="padding-top: 7px;" class="navbar-form navbar-left" action="{% url 'search_vid' %}" method="post">
            {% csrf_token %}
            <section class="flexbox">
            <div class="stretch">
              <input  style="float:left;" type="text" class="form-control" style="border-radius:0px;" placeholder="Search..." name="search">
                </div>
                <button type="submit" style="border-radius:0px;
                                         background-color:#888888;
                                         border-color:#808080;
                                         " class="btn btn-primary search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </section>
          </form>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul style="float: right;" class="nav navbar-nav">
        <li class="navbar-text">{% if request.user.is_authenticated %}
              {% if request.user.profile.image == 'avatar/None/default_avatar.png' %}
                <span><a href="{% url 'profile' %}">
                    <img class="sm-avatar" src="{% static request.user.profile.image %}" width="30" height="30">
                    </a></span>
              {% else %}
                <span><a href="{% url 'profile' %}">
                    <img class="sm-avatar" src="{{ request.user.profile.image.url }}" width="30" height="30">
                   </a></span>
              {% endif %}{% else %}
                <img src="{% static "v.png" %}" width="30" height="30">
            {% endif %}</li>
          {% if not request.user.is_authenticated %}
            <li><a href="{% url 'sign_in' %}"><img src="{% static "login.png" %}" width="30" height="30"></a></li>
            <li><a href="{% url 'sign_up' %}"><img src="{% static "Sign.png" %}" width="30" height="30"></a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
              <li><a href="{% url 'upld_vid' %}" ><img  src="{% static "up.png" %}" style="margin-top: 5px;" width="30" height="30"></a></li>
             {% if requset.user.profile.count < 10 %} <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "not.png" %}" style="margin-top: 2px;" width="31" height="31">
                  <div class="note">{{ request.user.profile.count }}</div>
             {% else %}<li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "nonot.gif" %}" style="margin-top: 2px;" width="31" height="31">
             {% endif %}</a></li>
            <li><a href="{% url 'sign_out' %}"><img src="{% static "door.png" %}" style="margin-top: 5px;" width="28" height="28"></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <h1>Reset Your Password Here:</h1>
  <hr>
  <br>
  <p></p>
  <br>

  <form class="form-inline" action="{% url 'reset_pwd' %}" method="post">
    {% csrf_token %}
    {% for field in form %}

      <div class="form-group">
        {% if field.errors %}
            <small><ul class="alert alert-warning" >{{ field.errors }}</ul></small>
        {% endif %}

        <b>New</b> {{ field.label_tag }} {{ field }}

        <br>
        <p></p>
        {% if field.help_text %}
          <small><ul class="alert alert-info">{{ field.help_text|safe }}</ul></small>
        {% endif %}
      </div>
    {% endfor %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-md btn-success" style="border-radius:0px;border:0;">Reset Password</button>
      </div>
    </div>

  </form>

{% endblock %}
