{% extends "base.html" %}
{% block title %}Search Results Page{% endblock %}
{% block css_files %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
  <style>
    .notimage {
   position: relative;
}

.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    h1{
      padding-top: 30px;
    }
    /*hr{
      border-color: white;
    }*/

    #view-btn{
      background-color: #99ccff !important;
      border-color: #99ccff !important;
      border-radius: 0px;
      color: white;
    }

    #view-btn:hover, #view-btn:active{
      background-color: #4da6ff !important;
      border-color: #4da6ff !important;
      color: white !important;
    }

    .material-icons{
      color: #ffcc00;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.material-icons:hover,
    .material-icons:active{
      color: #ffe680;
    }*/
    .fa-thumbs-o-up{
      color: #0066cc;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.fa-thumbs-o-up:hover,
    .fa-thumbs-o-up:active{
      color: #1a8cff;
    }*/
    .fa-thumbs-o-down{
      color: #cc3300;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.fa-thumbs-o-down:hover,
    .fa-thumbs-o-down:active{
      color: #ff4000;
    }*/
    .btn-warning{
      border-radius: 0px;
      padding-right: 20px;
      background-color: #ffcc00;
      border-color: #ffcc00;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .open .dropdown-toggle.btn-warning {
      background-color: #ff9900;
      border-color: #ff9900;
    }
    .btn-danger{
      background-color: #ff3300;
      border-color: #ff3300;
      border-radius: 0px;
      padding-right: 20px;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
      background-color: #e62e00;
      border-color: #e62e00;
    }
    /*.glyphicon-remove{
      padding-right: 4px;
    }
    .glyphicon-pencil{
      padding-right: 4px;
    }*/
    .thumbnail{
      border-radius: 0px;
      border: 0;
    }
    h3{
      padding-top: 0px;
    }
    /*.btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle..btn-primary {
      background-color: #595959;
      border-color: #595959;
    }*/
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }

  </style>
{% endblock %}
{% block body %}
<nav class="navbar navbar-default" style="border-radius:0px; border:0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <span><a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'UR8.png' %}" width="45" height="30"></a></span>
          <form style="padding-top: 7px;" class="navbar-form navbar-left" action="{% url 'search_vid' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" size="17" class="form-control" style="border-radius:0px;" placeholder="Search..." name="search">
                <button type="submit" style="border-radius:0px;
                                         background-color:#888888;
                                         border-color:#808080;
                                         " class="btn btn-primary search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </form>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul style="float: right;" class="nav navbar-nav">
        <li class="navbar-text">{% if request.user.is_authenticated %}
              {% if request.user.profile.image == 'avatar/None/default_avatar.png' %}
                <span><a href="{% url 'profile' %}">
                    <img class="sm-avatar" src="{% static request.user.profile.image %}" width="30" height="30">
                    </a></span>
              {% else %}
                <span><a href="{% url 'profile' %}">
                    <img class="sm-avatar" src="{{ request.user.profile.image.url }}" width="30" height="30">
                   </a></span>
              {% endif %}{% else %}
                <img src="{% static "v.png" %}" width="30" height="30">
            {% endif %}</li>
          {% if not request.user.is_authenticated %}
            <li><a href="{% url 'sign_in' %}"><img src="{% static "login.png" %}" width="30" height="30"></a></li>
            <li><a href="{% url 'sign_up' %}"><img src="{% static "Sign.png" %}" width="30" height="30"></a></li>
          {% endif %}

          {% if request.user.is_authenticated %}
              <li><a href="{% url 'upld_vid' %}" ><img  src="{% static "up.png" %}" style="margin-top: 5px;" width="30" height="30"></a></li>
            <li><a href="{% url 'view_vid' %}"><img src="{% static "my.png" %}" style="margin-top: 5px;" width="30" height="28"></a></li>
              <li><a href="{% url 'notifications' %}" ><img class="notimage" src="{% static "not.png" %}" style="margin-top: 2px;" width="31" height="31">
                  <div class="note">{{ request.user.profile.count }}</div></a></li>
            <li><a href="{% url 'sign_out' %}"><img src="{% static "door.png" %}" style="margin-top: 5px;" width="28" height="28"></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if hasRes %}

    {% if term %}
      <h1>Search results for: <i>{{ term }}</i></h1>
      <hr style="border-color: #ccebff;">
    {% endif %}

  {% else %}

    {% if term %}
      <p class="bg-info text-info" style="border-radius:0px; border:0">No search results for: <b><i>{{ term }}</i></b></p>
    {% else %}
      <p class="bg-info text-info" style="border-radius:0px; border:0">No term was typed...</p>
    {% endif %}

  {% endif %}

  {% if hasRes %}

<p class="bg-info text-info" style="margin-left: 0px;font-size: 170%; !important;margin-right: 0px !important;"><b>Channels</b></p><br>
      <div class="row">
      {% for channel in channels %}
          <div class="col-sm-6 col-md-3">
             <h3><i>{{ channel.username }}</i></h3>
        {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
            <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="189" height="189" ></a>
        {% else %}
            <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="189" height="189" ></a>
        {% endif %}</div></div>
      {% endfor %}
    <br><br>
    <p class="bg-info text-info" style="margin-left: 0px;font-size: 170%; !important;margin-right: 0px !important;"><b>Videos</b></p><br>
      <div class="row">
      {% for video in results %}
      <div style="font-size: 85%;" class="col-sm-5 col-md-3 col-bg-2">
      <div class="thumbnail" style=" border: 0; border-radius: 0px; box-shadow:0 10px 16px 0 rgba(4,4,4,0.2),0 6px 20px 0 rgba(4,4,4,0.19) !important;">
 <a href="{% url 's_vid' video.id %}"><video width="100%" height="56%">
        {% if video.thumpnail == 'thumpnail/None/default_thump.png' %}
            <source src="{{video.video.url}}#t=0" type="video/mp4">
            <div class="alert alert-warning" style="border-radius:0px; border:0"><b><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Warning: </b> Your browser does not support the video tag.</div>
          </video>
        {% else %}
        <video width="100%" height="56%" poster="{{ video.thumpnail.url }}">
          <source src="{{video.video.url}}" type="video/mp4">
          <div class="alert alert-warning" style="border-radius:0px; border:0"><b><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Warning: </b> Your browser does not support the video tag.</div>
        </video>
        {% endif %}
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 3em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style="color: black;!important; float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
            {% if video.avg_rating == 0.0 %}
                <img width="19px" height="19px" src="{% static 'bat.png'%}" >
          <img width="19px" height="19px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="15.5px" height="19px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="9px" height="19px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="6.5px" height="19px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="15.5px" height="19px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="9px" height="19px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="6.5px" height="19px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="15.5px" height="19px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="9px" height="19px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="6.5px" height="19px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="15.5px" height="19px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="9px" height="19px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="6.5px" height="19px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="19px" height="19px" src="{% static 'star.png'%}" >
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
              <img width="19px" height="19px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="15.5px" height="19px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="9px" height="19px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="6.5px" height="19px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="19px" height="19px" src="{% static 'star.png'%}" >
              <img width="19px" height="19px" src="{% static 'star.png'%}" >
              <img width="19px" height="19px" src="{% static 'star.png'%}" >
              <img width="19px" height="19px" src="{% static 'star.png'%}" >
              <img width="19px" height="19px" src="{% static 'star.png'%}" >
      {% endif %}</div>
      <br><span style="float: left;"><b >Views: </b>
          {{video.views}}
      </span><BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
