{% extends "base.html" %}
{% block title %}Search Results Page{% endblock %}
{% block css_files %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>
    .notimage {
   position: relative;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    h1{
      padding-top: 30px;
    }
    /*hr{
      border-color: white;
    }*/

    #view-btn{
      background-color: #99ccff !important;
      border-color: #99ccff !important;
      border-radius: 0px;
      color: white;
    }

    #view-btn:hover, #view-btn:active{
      background-color: #4da6ff !important;
      border-color: #4da6ff !important;
      color: white !important;
    }

    .material-icons{
      color: #ffcc00;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.material-icons:hover,
    .material-icons:active{
      color: #ffe680;
    }*/
    .fa-thumbs-o-up{
      color: #0066cc;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.fa-thumbs-o-up:hover,
    .fa-thumbs-o-up:active{
      color: #1a8cff;
    }*/
    .fa-thumbs-o-down{
      color: #cc3300;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.fa-thumbs-o-down:hover,
    .fa-thumbs-o-down:active{
      color: #ff4000;
    }*/
    .btn-warning{
      border-radius: 0px;
      padding-right: 20px;
      background-color: #ffcc00;
      border-color: #ffcc00;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .open .dropdown-toggle.btn-warning {
      background-color: #ff9900;
      border-color: #ff9900;
    }
    .btn-danger{
      background-color: #ff3300;
      border-color: #ff3300;
      border-radius: 0px;
      padding-right: 20px;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
      background-color: #e62e00;
      border-color: #e62e00;
    }
    /*.glyphicon-remove{
      padding-right: 4px;
    }
    .glyphicon-pencil{
      padding-right: 4px;
    }*/
    .thumbnail{
      border-radius: 0px;
      border: 0;
    }
    h3{
      padding-top: 0px;
    }
    /*.btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle..btn-primary {
      background-color: #595959;
      border-color: #595959;
    }*/
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }

  </style>
{% endblock %}
{% block body %}
  <nav class="navbar navbar-fixed-top" style="border-radius:0px; border:0;background-color: lightblue;">
    <div style="width: 100%">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        </button>
          <span><a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'UR8.png' %}" width="34" height="26"></a></span>
          <span class="navbar-brand"><input style="border-width:0px;
border:none;outline: none;" onclick="HideSide()" type="image" src="{% static 'hide.png' %}" width="27" height="26"></span>
<form style="padding-top: 1px;" class="navbar-form navbar-left" action="{% url 'search_vid' %}" method="post">
            {% csrf_token %}
            <section class="flexbox">
            <div class="stretch">
              <input  style="float:left;" type="text" class="form-control" style="border-radius:0px;" placeholder="Search..." name="search">
                </div>
                <button type="submit" style="border-radius:0px;
                                         background-color:#888888;
                                         border-color:#808080;
                                         " class="btn btn-primary search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </section>
          </form>
      </div>
      <div  class=" collapse navbar-collapse" id="myNavbar">
          <ul style="float: right;" class="nav navbar-nav">
          {% if request.user.is_authenticated %}
              <li><a href="{% url 'upld_vid' %}" ><img  src="{% static "up.png" %}" width="27" height="28"></a></li>
             {% if requset.user.profile.count < 10 %} <li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "not.png" %}" style="margin-top: 1px;" width="26" height="26">
                  <div class="note">{{ request.user.profile.count }}</div>
             {% else %}<li><a href="{% url 'notifications' %}" >
                 <img class="notimage" src="{% static "nonot.gif" %}" style="margin-top: 1px;" width="26" height="26">
             {% endif %}</a></li>
              <li style="position: initial;" class="dropdown fill-width" >
          {% if request.user.is_authenticated %}
              {% if request.user.profile.image == 'avatar/None/default_avatar.png' %}
                <span style="margin-right: 4%;padding: 12px;" class=" dropdown-toggle" data-toggle="dropdown">
                   <a href=""> <img style="margin-top: 14px;margin-right: 4%;" class="sm-avatar" src="{% static request.user.profile.image %}" width="29" height="29"></a></span>
          {% if request.user.is_authenticated %}
              <ul style="margin-right: 7px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'profile' %}"><b style="font-size: 70%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 70%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 70%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 70%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_out' %}"><b style="font-size: 70%;">Sign out</b></a></li>
          </ul>{% endif %}
              {% else %}
                <span style="margin-right: 4%;padding: 12px;" class="dropdown-toggle" data-toggle="dropdown">
                    <a href=""><img  style="margin-top: 14px;" class="sm-avatar" src="{{ request.user.profile.image.url }}" width="29" height="29"></a></span>
          {% if request.user.is_authenticated %}
              <ul style="margin-right: 7px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li  ><a href="{% url 'profile' %}"><b style="font-size: 70%;">Profile</b></a></li>
            <li><a href="{% url 'reset_pwd' %}"><b style="font-size: 70%;">Reset Password</b></a></li>
                  <li><a href="{% url 'edit_avatar' %}"><b style="font-size: 70%;">Edit Avatar</b></a></li>
                  <li><a href="{% url 'view_vid' %}"><b style="font-size: 70%;">My Videos</b></a></li>
              <li><a href="{% url 'sign_up' %}"><b style="font-size: 70%;">Sign up</b></a></li>
          </ul>
          {% endif %}
              {% endif %}{% else %}
                <span style="margin-right: 4%;padding: 12px;" class="dropdown-toggle" data-toggle="dropdown">
                   <a href=""> <img style="margin-top: 14px;margin-right: 4%;" src="{% static "v.png" %}" width="29" height="29"></a></span>
          {% if not request.user.is_authenticated %}
              <ul style="margin-right: 7px;" role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'sign_in' %}"><b style="font-size: 70%;">Sigin in</b></a></li>
            <li><a href="{% url 'sign_up' %}"><b style="font-size: 70%;">Sign up</b></a></li>
          </ul>{% endif %}
            {% endif %}</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    <div style="width: 3%;margin-top: 3%">
              <script>
                  $('a[data-toggle="collapse"]').on('shown.bs.collapse', function (r) {
                        var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    x.style.width = '0%';
        y.style.width = '100%';
        x.style.display = 'none';
});
    function HideSide() {
    var x = document.getElementById('hideleft');
    var y = document.getElementById('homediv');
    if (x.style.width === '0%') {
        x.style.width = '13%';
        y.style.width = '83%';
        x.style.display = 'block';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
    } else {
        x.style.width = '0%';
        y.style.width = '98%';
        y.style.paddingLeft = "1%";
        y.style.paddingRight = "1%";
        x.style.display = 'none';
    }
}
</script>
</div>
    <div id="hideleft" style="background-color: #e8f7fd; width: 0%;display: none; float: left;position: fixed;height: 100%;margin-right: 9%;padding-left: 1%;">
<br><Br><div style="text-align: left; padding-left: 1%;">
    <div style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 130%;">
        <a href="{% url 'subscribes' %}"><img style=" margin-right: 1%;" src="{% static "sub.png" %}" width="13" height="13">
         Subs</a></b>
    </div><br>
        {% if request.user.is_authenticated %}
            {% for channel in subchan %}
                {% if not channel.is_superuser  %}
                    {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="25" height="25" ></a>
                    {% else %}
                    <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="25" height="25" ></a>
                    {% endif %}
                {% endif %}<i style="font-size: 160%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
        {% endif %}

     <div  style="margin-left: 0px !important;margin-right: 0px !important;">
        <b style="font-size: 130%;">
        <a href="{% url 'channels' %}"><img src="{% static "tv.png" %}" style=" margin-right: 1%;" width="13" height="13">
         Channels</a></b>
    </div><br>
            {% if request.user.is_authenicated %}
                {% for channel in users %}
                    {% if channel != request.user %}
                        {% for sub in subchan %}
                    {% if channel != sub %}
                {% if not channel.is_superuser   %}
                    {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                        <img src="{% static channel.profile.image %}" width="25" height="25" >
                    {% else %}
                        <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                    {% endif %}
                {% endif %}<i style="font-size: 160%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
                    {% endif %}
                        {% endfor %}{% endif %}
                {% endfor %}
            {% else %}
                {% for channel in users %}
            {% if not channel.is_superuser   %}

<a href="{% url 'channel' channel.username %}">
                {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
                    <img src="{% static channel.profile.image %}" width="25" height="25" >
                {% else %}
                    <img src="{{ channel.profile.image.url }}" width="25" height="25" >
                </a>{% endif %}
            {% endif %}<i style="font-size: 160%"><a style="font-size: 70%;" href="{% url 'channel' channel.username %}">  {{ channel.username }}</a></i><br>
            {% endfor %}
            {% endif %}
      </div></div>
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">

  {% if hasRes %}

    {% if term %}
      <h1 style="padding-left: 38%">Search results for: <i>{{ term }}</i></h1>
      <hr style="border-color: #ccebff;">
    {% endif %}

  {% else %}

    {% if term %}
      <p class="bg-info text-info" style="border-radius:0px; border:0;padding-left: 38%;">No search results for: <b><i>{{ term }}</i></b></p>
    {% else %}
      <p class="bg-info text-info" style="border-radius:0px; border:0;padding-left: 38%">No term was typed...</p>
    {% endif %}

  {% endif %}

  {% if hasRes %}

<p class="bg-info text-info" style="margin-left: 0px;font-size: 170%; !important;margin-right: 0px !important; padding-left: 3%;"><b>Channels</b></p><br>
      <div style="padding-left: 3%;" class="row">
      {% for channel in channels %}
          <div class="col-sm-3 col-md-2 col-bg-1">
             <h3><i>{{ channel.username }}</i></h3>
        {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
            <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="189" height="189" ></a>
        {% else %}
            <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="189" height="189" ></a>
        {% endif %}</div>
      {% endfor %}</div>
    <br><br>
    <p class="bg-info text-info" style="margin-left: 0px;font-size: 170%; !important;margin-right: 0px !important; padding-left: 3%;"><b>Videos</b></p><br>
      <div style="padding-left: 3%;padding-right: 3%;" class="row">
      {% for video in results %}
       <div style=" padding:6px;font-size: 85%;" class="col-sm-3 col-md-2 col-bg-1">
      <div style=" border: 0; border-radius: 0px; box-shadow:0 10px 16px 0 rgba(4,4,4,0.2),0 6px 20px 0 rgba(4,4,4,0.19) !important;">
 <a href="{% url 's_vid' video.id %}">{% if not video.th %}
            <img src="{{ video.thumpnail }}" width="99.9%" height="58%">
        {% else %}
       <img src="{{ video.thumpnail.url }}" width="99.9%" height="58%">
        {% endif %}
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 3em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style="color: black;!important; float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
            {% if video.avg_rating == 0.0 %}
                <img width="12px" height="12px" src="{% static 'bat.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
      {% endif %}</div>
      <br><span style="float: left;"><b style="font-size: 82%" >Views: </b>
          {{video.views}}
      </span><BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
