{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block css_files %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto; min-height: auto;
      background-color: #ccebff;position: absolute;
}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
  .notimage {
   position: relative;
}
  .flexbox { display: flex; }
    .flexbox .stretch { flex: 5; }
    .flexbox .normal { flex: 1; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 23px;
    text-align: center;
    color: black;
    width: 26px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
  </style>
{% endblock %}
{% block body %}
 {% include 'navbar.html' %}
 <div id="homediv" style="font-size:120%; width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
<DIV style="font-size: 600%;text-align: center;padding: 5%;">403 Error Page:<br> Better get your license!<Br>You aren't allowed here!</DIV>
    </div>

{% endblock %}
