{% extends "base.html" %}
{% block title %}Edit Review Page{% endblock %}
{% block css_files %}
  {% load static %}
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
  <style media="screen">
  .notimage {
   position: relative;
}.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    label > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
      label > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
    }
      label > input:checked + img { /*(RADIO CHECKED) IMAGE STYLES */
        opacity: .6;
    }

    h1{
      padding-top: 30px;
      padding-bottom: 0px;
    }
    hr{
      border-color: #ccebff;
    }

  </style>
{% endblock %}

{% block body %}
 {% include 'navbar.html' %}
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
<h1 style="padding-left: 40%">Edit Your Review Here:</h1>
<hr style="padding-top: 0px; padding-bottom: 15px; border-color: #ccebff;">
<form style="padding-left: 25%" id="edit-review-form" hx-post="/edit_review/{{ video_id }}/{{ review.id }}/" hx-swap="outerHTML" hx-target="#form-container-{{ review.id }}">
  {% csrf_token %}
  <b style="font-size: 150%; padding-right: 6px;">Rating:</b>
        <label>
        <input type="radio" name="rating" value=1>
          <img src="{% static 'star.png'%}" id="1" alt="star">
        </label>
        <label>
        <input type="radio" name="rating" value=2 >
        <img src="{% static 'star.png'%}" id="2" alt="star">
        </label>
        <label>
        <input type="radio" name="rating" value=3 >
        <img src="{% static 'star.png'%}" id="3" alt="star">
        </label>
        <label>
        <input type="radio" name="rating" value=4>
        <img src="{% static 'star.png'%}" id="4" alt="star">
        </label>
        <label>
        <input type="radio" name="rating" value=5>
        <img src="{% static 'star.png'%}" id="5" alt="star">
      </label><br>
      <p></p>
  <textarea id="edit-review-area" rows="4" cols="60" name="text">{{ review.text }}</textarea><br>
  <p></p>
    <button type="submit"  class="btn btn-default ed-btn">
    <span class="glyphicon glyphicon-pencil">   Save Review</span>
  </button>
{#  <button id="ED-{{ review.id }}" hx-trigger="click" hx-post="/edit_review/{{ video_id }}/{{ review.id }}/" hx-swap="outerHTML" hx-target="#form-container-{{ review.id }}" class="btn btn-default ed-btn">#}
{#  <span class="glyphicon glyphicon-pencil">   Save Review  {{ review.id }}</span>#}
{#</button>#}
</form>
</div>
{% endblock %}
