{% extends "base.html" %}
{% block title %}Edit Avatar Page{% endblock %}
{% block css_files %}
  {% load static %}
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto; min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
      .notimage {
   position: relative;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
    hr{
      border-color: #ccebff;
    }

  </style>
{% endblock %}
{% block body %}
 {% include 'navbar.html' %}
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
  <h1>Edit Your Image Here:</h1>
  <hr>
  <br>
  <p></p>
  <br>

  <form class="form-inline" action="{% url 'edit_avatar' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error %}
        <small class="alert alert-danger" style="border:0; border-radius:0px;">{{ error }}</small>
    {% endif %}
    {% for field in form %}

      <div class="form-group">
        {% if field.errors %}
            <small><ul class="alert alert-warning" >{{ field.errors }}</ul></small>
        {% endif %}


        {{ field.label_tag }} {{ field }}

        <br>
        <p></p>
        {% if field.help_text %}
          <small><ul class="alert alert-info">{{ field.help_text|safe }}</ul></small>
        {% endif %}
      </div>
    {% endfor %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-md btn-success" style="border-radius:0px;border:0;">Edit Avatar !</button>
      </div>
    </div>

  </form></div>
{% endblock %}