{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block css_files %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto; min-height: auto;
      background-color: #ccebff;position: absolute;
}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
  .notimage {
   position: relative;
}
  .flexbox { display: flex; }
    .flexbox .stretch { flex: 5; }
    .flexbox .normal { flex: 1; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 23px;
    text-align: center;
    color: black;
    width: 26px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
  </style>
{% endblock %}
{% block body %}
 {% include 'navbar.html' %}
    <div id="homediv" style="font-size:120%; width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
<div style="text-align: left;">
    <p  style="margin-left: 0px !important;margin-right: 0px !important;"><b style="font-size: 130%;">Top Videos</b></p>
    {% if hasRes %}
    <div class="row">
      {% for video in video_results %}
      <div style=" padding:6px;font-size: 87%;" class="col-sm-3 col-md-2 col-bg-1">
      <div style="background-color: #e8f6fe; border: 0; border-radius: 0px; ">
 <a href="{% url 's_vid' video.id %}">{% if not video.th %}
            <img src="{{ video.thumbnail }}" width="100%" height="58.05%">
        {% else %}
       <img src="{{ video.thumbnail.url }}" width="100%" height="58.05%">
        {% endif %}
  <div style="padding: 4px;">
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 2.5em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style=" float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
           {% if video.avg_rating == 0.0 %}
                <img width="12px" height="12px" src="{% static 'bat.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
      {% endif %}
      </div>
      <br><span style="float: left;">{{video.views}}
          <b style="font-size: 82%" > Views</b>
      </span></div>
          <BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

    <hr style="width: 100%; color: #d8f6fc; height: 0.005em; background-color:#d8f6fc;">
    <p style="margin-left: 0px !important;margin-right: 0px !important;"><b style="font-size: 130%;">Newest Videos</b></p>
    {% if hasRes %}
    <div class="row">
      {% for video in new %}
         <div style=" padding:6px;font-size: 87%;" class="col-sm-3 col-md-2 col-bg-1">
      <div style="background-color: #e8f6fe; border: 0; border-radius: 0px; ">
 <a href="{% url 's_vid' video.id %}">{% if not video.th %}
            <img src="{{ video.thumbnail }}" width="100%" height="58.05%">
        {% else %}
       <img src="{{ video.thumbnail.url }}" width="100%" height="58.05%">
        {% endif %}
  <div style="padding: 4px;">
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 2.5em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style=" float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
            {% if video.avg_rating == 0.0 %}
                <img width="12px" height="12px" src="{% static 'bat.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
      {% endif %}
      </div>
      <br><span style="float: left;">{{video.views}}
          <b style="font-size: 82%" > Views</b>
      </span></div><BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
    <hr style="width: 100%; color: #d8f6fc; height: 0.005em; background-color:#d8f6fc;">
    <p style="margin-left: 0px !important;margin-right: 0px !important;"><b style="font-size: 130%;">Popular Videos</b></p>
    {% if hasRes %}
    <div style="font-size:89%;" class="row">
      {% for video in popular %}
         <div style=" padding:6px;font-size: 87%;" class="col-sm-3 col-md-2 col-bg-1">
      <div style="background-color: #e8f6fe; border: 0; border-radius: 0px; ">
 <a href="{% url 's_vid' video.id %}">{% if not video.th %}
            <img src="{{ video.thumbnail }}" width="100%" height="58.05%">
        {% else %}
       <img src="{{ video.thumbnail.url }}" width="100%" height="58.05%">
        {% endif %}
  <div style="padding: 4px;">
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 2.5em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style=" float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
            {% if video.avg_rating == 0.0 %}
                <img width="12px" height="12px" src="{% static 'bat.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
      {% endif %}
      </div>
      <br><span style="float: left;">{{video.views}}
          <b style="font-size: 82%" > Views</b>
      </span></div><BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}<hr style="width: 100%; color: #d8f6fc; height: 0.005em; background-color:#d8f6fc;">
    <p  style="margin-left: 0px !important;margin-right: 0px !important;"><b style="font-size: 130%;">Best Rated Videos</b></p>
    {% if hasRes %}
    <div class="row">
      {% for video in best %}
         <div style=" padding:6px;font-size: 87%;" class="col-sm-3 col-md-2 col-bg-1">
      <div style="background-color: #e8f6fe; border: 0; border-radius: 0px; ">
 <a href="{% url 's_vid' video.id %}">{% if not video.th %}
            <img src="{{ video.thumbnail }}" width="100%" height="58.05%" alt="thumbnail-{{ video.id }}">
        {% else %}
       <img src="{{ video.thumbnail.url }}" width="100%" height="58.05%" alt="thumbnail-{{ video.id }}">
        {% endif %}
  <div style="padding: 4px;">
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 2.5em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style=" float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
           {% if video.avg_rating == 0.0 %}
                <img width="12px" height="12px" src="{% static 'bat.png'%}"  alt="star">
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}"  alt="star">
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}"  alt="star">
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}"  alt="star">
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}"  alt="star">
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}"  alt="star">
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}"  alt="star">
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}"  alt="star">
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}"  alt="star">
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}"  alt="star">
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
        <img width="12px" height="12px" src="{% static 'star.png'%}"  alt="star">
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
      {% endif %}
      </div>
      <br><span style="float: left;">{{video.views}}
          <b style="font-size: 82%" > Views</b>
      </span></div><BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
    </div><hr style="width: 100%; color: #d8f6fc; height: 0.005em; background-color:#d8f6fc;">
    </div>
{% endblock %}
