{% load static %}
<div id="form-container-{{ review_id }}">
<div class="media">
  <div class="media-left">
    <!-- style="width:60px;border-radius:50px;" -->
    {% if src == 'avatar/None/default_avatar.png' %}
      <img src="{% static 'avatar/None/default_avatar.png' %}" class="media-object" style="width:60px;height:60px;border-radius:50px;">
    {% else %}
      <img src="{{ src.url }}" class="media-object" style="width:60px; height:60px;border-radius:50px;">
    {% endif %}
  </div>

  <div class="media-body">
    <h4 class="media-heading text-left">

      <span style="padding-left: 5px; padding-right: 5px;"class="bg-primary">{{ uname }}</span>

      <span class="bg-info text-info" style="margin-left: 10px;font-weight: normal; padding-left: 5px; padding-right: 7px; padding-bottom: 3px;">Rated:
      {% if rating > 0 %}
        <img style="height: 16px; width: 16px;" src="{% static 'star.png' %}" >
      {% endif %}
      {% if rating > 1 %}
        <img style="height: 16px; width: 16px;" src="{% static 'star.png' %}" >
      {% endif %}
      {% if rating > 2 %}
        <img style="height: 16px; width: 16px;" src="{% static 'star.png' %}">
      {% endif %}
      {% if rating > 3 %}
        <img style="height: 16px; width: 16px;" src="{% static 'star.png'%}" >
      {% endif %}
      {% if rating > 4 %}
        <img style="height: 16px; width: 16px;" src="{% static 'star.png'%}" >
      {% endif %}
    </span></h4>
    <p>
      {{ text }}
        </p>
      <form class="form-inline" id="approve-form" data-id="{{ ID }}">
        {% csrf_token %}
{#        <button id="OK" type="button" class="btn btn-default ok-btn"><span class="glyphicon glyphicon-ok">#}
{##}
{#        </span> Approve ({{ like }})</button>#}

{#      <div id="review-{{ review_id }}">#}
<div id="button-container-{{ review_id }}">
    <button id="OK-{{ review_id }}" class="btn btn-default ok-btn" hx-get="/like_review/{{ review_id }}/" hx-trigger="click" hx-swap="outerHTML" hx-target="#button-container-{{ review_id }}" hx-include="#RM-{{ review_id }}">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{ like }}
    </button>

    <button id="RM-{{ review_id }}" class="btn btn-default rm-btn" hx-get="/dislike_review/{{ review_id }}/" hx-trigger="click" hx-swap="outerHTML" hx-target="#button-container-{{ review_id }}" hx-include="#OK-{{ review_id }}">
    <span class="glyphicon glyphicon-thumbs-down"></span> {{ dislike }}
</button>
</div>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        {% if request.user.username == uname %}

            <button id="ED-{{ review_id }}" hx-trigger="click" hx-get="/edit_review/{{ video_id }}/{{ review_id }}/" hx-swap="outerHTML" class="btn btn-default ed-btn">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>

{#            <button id="DEL-{{ review_id }}" type="button" class="btn btn-default del-btn"><span class="glyphicon glyphicon-remove"></span></button>#}
            <button id="DEL-{{ review_id }}" hx-trigger="click" hx-post="/delete_review/{{ review_id }}/{{ video_id }}/" hx-swap="outerHTML" hx-target="#form-container-{{ review_id }}" class="btn btn-default del-btn">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        {% endif %}
      </form>

  </div>
</div>
<hr>
</div>