{% extends "base.html" %}
{% block title %}View Video Page{% endblock %}
{% block css_files %}
  {% load static %}
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
    .notimage {
   position: relative;
}
    .flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
    .slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    .description{
      background-color: aliceblue;
      border: none;
      resize: none;
    }
    .btn-link{
      background-color: aliceblue;
      color: #007399;
      border-radius: 3px;
      border-color: #007399;
      border-style: solid;
      border-width: 2px;
      text-decoration: none;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .btn-link:hover, .btn-link:active, .btn-link:visited {
        background-color: #007399 !important;
        border-color: #007399 !important;
        color: aliceblue !important;
        text-decoration: none;
    }
    .bg-primary{
      background: gray;
      padding-bottom: 2px;
      color: white;
      font-weight: 200;
    }
    label > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
      label > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
    }
      label > input:checked + img { /*(RADIO CHECKED) IMAGE STYLES */
        opacity: .6;
    }
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    .btn-success{
      background-color: #3399ff !important;
      border-color: #3399ff !important;
    }
    .btn-success:hover, .btn-success:active, .btn-success:visited {
        background-color: #0073e6 !important;
        border-color: #0073e6 !important;
        color: #d9d9d9 !important;
    }
    .btn-default{
      border-radius: 0px;
      border: 0px;
    }
    .ed-btn{
      background-color: #ffaa00 !important;
      border-color: #ffaa00 !important;
      color: white;
    }
    .ed-btn:hover, .ed-btn:active, .ed-btn:visited{
      background-color: #e69900 !important;
      border-color: #e69900 !important;
      color: #d9d9d9 !important;
    }
    .del-btn{
      background-color: #000000 !important;
      border-color: #000000 !important;
      color: white;
    }
    .del-btn:hover, .del-btn:active, .del-btn:visited{
      background-color: #222222 !important;
      border-color: #222222 !important;
      color: #d9d9d9 !important;
    }
    .ok-btn{
      background-color: #00b300 !important;
      border-color: #00b300 !important;
      color: white;
    }
    .ok-btn:hover, .ok-btn:active, .ok-btn:visited{
      background-color: #009900 !important;
      border-color: #009900 !important;
      color: #d9d9d9 !important;
    }
    .rm-btn{
      background-color: #e63900 !important;
      border-color: #e63900 !important;
      color: white;
    }
    .rm-btn:hover, .rm-btn:active, .rm-btn:visited{
      background-color: #cc3300 !important;
      border-color: #cc3300 !important;
      color: #d9d9d9 !important;
    }
    .material-icons{
      color: #ffcc00;
      font-size: 24px;
    }
    .material-icons:hover,
    .material-icons:active{
      color: #ffe680;
    }
    .fa-thumbs-o-up{
      color: #0066cc;
      font-size: 24px;
    }
    .fa-thumbs-o-up:hover,
    .fa-thumbs-o-up:active{
      color: #1a8cff;
    }
    .fa-thumbs-o-down{
      color: #cc3300;
      font-size: 24px;
    }
    .fa-thumbs-o-down:hover,
    .fa-thumbs-o-down:active{
      color: #ff4000;
    }
    .alert-warning{
      padding: 5px 5px 5px 5px;
    }
    hr{
      border-color: #ccebff;
    }
  </style>
{% endblock %}
{% block body %}
{% include 'navbar.html' %}
    <div id="homediv" style="font-size:120%; width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
        <div style="float: left; width: 80%;padding-left: 2%;">
            <div class="embed-responsive embed-responsive-16by9">
    <video style="background-color: #123456 !important; object-fit:contain; " controls width="99.2%" height="55.8%" id="{{ video.id }}"  autoplay>
      <source src="{{ video.video.url }}" type="video/mp4">
    </video>
    </div>

  <b style="font-size: 150%;float: left;">{{ video.title }}</b>
        <span style="float: right; margin-top: 1%;">
        {% if video.avg_rating == 0.0 %}
                <img width="24px" height="24px" src="{% static 'bat.png'%}" >
          {% elif video.avg_rating >= 0 and video.avg_rating < 1 %}
              {% if video.avg_rating > 0.6 %}
                <img src="{% static '75.png'%}" >
              {% elif video.avg_rating > 0.3 %}
                <img src="{% static '50.png'%}" >
              {% elif video.avg_rating > 0.0 %}
                <img src="{% static '25.png'%}" >
                {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img style="" src="{% static 'star.png'%}"  alt="star">
          {% if video.avg_rating > 1.6 %}
                <img style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 1.3 %}
                <img style="" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 1.0 %}
                <img style="" src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img src="{% static 'star.png'%}"  alt="star">
        <img style="" src="{% static 'star.png'%}"  alt="star2">
          {% if video.avg_rating > 2.6 %}
                <img style="" src="{% static '75.png'%}"  alt="star2">
          {% elif video.avg_rating > 2.3 %}
                <img style="" src="{% static '50.png'%}"  alt="star2">
          {% elif video.avg_rating > 2.0 %}
                <img style="" src="{% static '25.png'%}"  alt="star2">
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img src="{% static 'star.png'%}"  alt="star3">
        <img src="{% static 'star.png'%}"  alt="star3">
        <img style="" src="{% static 'star.png'%}"  alt="star3">
          {% if video.avg_rating > 3.6 %}
                <img style="" src="{% static '75.png'%}"  alt="star3">
          {% elif video.avg_rating > 3.3 %}
                <img style="" src="{% static '50.png'%}"  alt="star3">
          {% elif video.avg_rating > 3.0 %}
                <img style="" src="{% static '25.png'%}"  alt="star3">
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img src="{% static 'star.png'%}" alt="star">
        <img src="{% static 'star.png'%}" >
        <img style="" src="{% static 'star.png'%}" >
              <img style="" src="{% static 'star.png'%}" alt="star">
          {% if video.avg_rating > 4.6 %}
                <img style="" src="{% static '75.png'%}" alt="star">
          {% elif video.avg_rating > 4.3 %}
                <img style="" src="{% static '50.png'%}" alt="star">
          {% elif video.avg_rating > 4.0 %}
                <img style="" src="{% static '25.png'%}" alt="star">
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img src="{% static 'star.png'%}" alt="star">
              <img style="" src="{% static 'star.png'%}" alt="star">
              <img style="" src="{% static 'star.png'%}" alt="star">
              <img style="" src="{% static 'star.png'%}" alt="star">
              <img style="" src="{% static 'star.png'%}" alt="star">
      {% endif %}
      </span><BR><Br>
      <Br>
    <div style="padding-right: 12px;float: left;">
        <b>Views: </b>{{video.views}}
    </div>
    <hr>
    <div>
        <div style="float: left">
            <span>
                <a href="{% url 'profile' %}">
                    {% if video.user.profile.image == 'avatar/None/default_avatar.png' %}
                        <img class="sm-avatar" src="{% static video.user.profile.image %}" width="40" height="40" alt="avatar">
                    {% else %}
                        <img class="sm-avatar" src="{{ video.user.profile.image.url }}" width="40" height="40" alt="avatar">
                    {% endif %}
                </a>
            </span>
            <a href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a>
            <span id="subscribe-to-{{ user.username }}">
                {% if user.username in request.user.profile.subscribes and user.username != request.user.username %}
                    <button hx-trigger="click" hx-get="{% url 'toggle_subscription' user.id %}" hx-swap="outerHTML" hx-target="#subscribe-to-{{ user.username }}" class="btn btn-danger"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Subscribed</button>
                {% elif user.u0sername not in request.user.profile.subscribes and user.username != request.user.username %}
                    <button hx-trigger="click" hx-get="{% url 'toggle_subscription' user.id %}" hx-swap="outerHTML" hx-target="#subscribe-to-{{ user.username }}" class="btn btn-danger"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Subscribe</button>
                {% endif %}
                <br>
                <span style="font-size: 12px; color: #888;">
                    {{ user.profile.subscribers.split|length }} subscribers
                </span>
            </span>

            <div id="dec" style="text-align: left; margin-top: 1px;float: left;white-space: pre-wrap;width: 100%;height: 2.4em;overflow: hidden;text-overflow: clip;">
                    {{ video.description }}
            </div>
<button style=" background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            margin-top:5px;
            text-align: left;
            font-size: 134%;
            outline:none;
            width: 100%;
            float: left;"id="decb" type="button" onclick="ShowMore()">Show more</button>
        </div>

    <script>
function ShowMore() {
    if (document.getElementById("dec").style.height == "2.4em") {document.getElementById("dec").style.height = "100%";}
    else {document.getElementById("dec").style.height = "2.4em";}
    var change = document.getElementById("decb");
    if (change.innerHTML == "Show more")
    {change.innerHTML = "Hide";}
    else
    {        change.innerHTML = "Show more";}}
</script>
    </div>
        <div style="float: left;margin-top: 2%;" id="tag-list" class="btn-group">
    <p style="float: left;margin-top: 1%;">
        <span class="glyphicon glyphicon-tags"></span> <b>Tags: </b>
            {% for tag in tags %}
                {% if forloop.last %}
                    <button type="button" style="margin-bottom: 2%;" class="btn-link"><b>{{ tag }}</b></button>
                {% else %}
                    <button type="button" style="margin-bottom: 2%;" class="btn-link"><b>{{ tag }}</b></button> ,
                {% endif %}
            {% endfor %}
     </p>
    </div>
        <div style="float: left;width: 100%!important;">
      {% if request.user.is_authenticated %}
          <div id="form-not-rated-{{ video_id }}">
            {% if not rated  %}
                <h3>Write a review for this video:</h3>
                <hr>
                <span id="error" class="alert alert-danger" style="border-radius:0;border:0;display:none;">Your review must be less than 1000 characters.</span>
                <form class="" id="review-form">
                    {% csrf_token %}
                    <label>
                        <input type="radio" name="star" value=1>
                        <img src="{% static 'star.png'%}" id="1" alt="star">
                    </label>
                    <label>
                        <input type="radio" name="star" value=2 >
                        <img src="{% static 'star.png'%}" id="2" alt="star">
                    </label>
                    <label>
                        <input type="radio" name="star" value=3 >
                        <img src="{% static 'star.png'%}" id="3" alt="star">
                    </label>
                    <label>
                        <input type="radio" name="star" value=4>
                        <img src="{% static 'star.png'%}" id="4" alt="star">
                    </label>
                    <label>
                        <input type="radio" name="star" value=5>
                        <img src="{% static 'star.png'%}" id="5" alt="star">
                    </label>
                    <br>

                    <textarea style="text-align:left;padding-left: 0%; width: 80%;" id="review-area" rows="6"></textarea><BR>
                    <button type="submit" id="review-btn" style="border-radius:0px;margin-left:5px;margin-bottom:26px;" class="btn btn-success">Write Review !</button>
                </form>
                <hr>
                {% else %}
                <hr>
                {% endif %}
          </div>
          <h3>Video Reviews:</h3>
            <hr>
            <span id="reviews">
            {% if lists %}
                {% for review, approve, disapprove in lists %}
                    {% with video_id=review.video.id review_id=review.id %}
                        {% include 'review.html' with src=review.user.profile.image text=review.text uname=review.user.username rating=review.rating like=approve dislike=disapprove video_id=video_id review_id=review_id %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                <p>
                    <b>There are no reviews yet.</b>
                </p>
            {% endif %}
            </span>
        {% else %}
            <h3>Video Reviews:</h3><hr>
            <span id="reviews">
                {% if lists %}
                    {% for review, approve, disapprove in lists %}
                        {% include 'review.html' with src=review.user.profile.image text=review.text uname=review.user.username rating=review.rating like=approve dislike=disapprove ID=review.id %}
                    {% endfor %}
                {% else %}
                <p><b>There are no reviews yet.</b></p>
                {% endif %}
            </span>
            <div class="bg-info text-info" style="margin-right: 15px;margin-left: 15px;border-radius:0px;border:0;">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <b>Warning: </b> You must be logged in to write a review for this video and approve or not a review.
            </div>
        {% endif %}
      </div>
    </div>

    <div style=" float: right;width:18%;">
        <div class="checkbox next-video">
    <b>Next video:</b>
    <i class="autoplay-toggle">
        Autoplay:
        <label>
            <input
                data-style="slow"
                id="toggle-one"
                type="checkbox"
                checked
                data-toggle="toggle"
                data-on="<i class='fa fa-play'></i>"
                data-off="<i class='fa fa-pause'></i>">
        </label>
    </i>
</div>
        {% for v in rel_videos|slice:":1" %}
            <script type='text/javascript'>var timer;
                $('#toggle-one').bootstrapToggle({
                    size: 'mini',
                    offstyle: 'primary',
                    onstyle: 'info',
                });
                $('#toggle-one').bootstrapToggle('off');
                function vidEnd() {
                    document.getElementById('{{ video.id }}').addEventListener('ended',start,false);return false;
                }
                function start() {
                    timer = window.setTimeout(myHandler, 5000);
                    return false;
                }

                function myHandler() {
                    window.location="{% url 's_vid' v.id %}";return false;
                }
                $(function() {
                    $('#toggle-one').change(function() {
                      var tg = $(this).prop('checked');
                      if (tg == true){
                          vidEnd();}
                    else if (tg == false){clearTimeout(timer);clearTimeout();window.clearTimeout(timer);window.clearTimeout();
                      }
                    return false;})
                  return false;})
            </script>
            <div class="row">
                {% if not v.th %}
                    <a href="{% url 's_vid' v.id %}"><img src="{{ v.thumbnail }}" width="96%" height="54%"></a>
                {% else %}
                    <a href="{% url 's_vid' v.id %}"><img src="{{ v.thumbnail.url }}" width="96%" height="54%"></a>
                {% endif %}
                <div style="position: inherit; float: inherit; ">
                    <a href="{% url 's_vid' v.id %}">
                        <b>{{ v.title }} </b>
                        </a>
                    <br>
                    Views: {{ v.views }}
                </div>
            </div>
      {% endfor %}
        <hr>
      {% for v in rel_videos|slice:"1:" %}
          <div style="padding-bottom:2%;" class="row">
              {% if not v.th %}
                  <a href="{% url 's_vid' v.id %}"><img src="{{ v.thumbnail }}" width="96%" height="54%"></a>
              {% else %}
                  <a href="{% url 's_vid' v.id %}"> <img src="{{ v.thumbnail.url }}" width="96%" height="54%"></a>
              {% endif %}
              <div style="padding-top:2%;position: inherit; float: inherit; "><a href="{% url 's_vid' v.id %}">
                  <b>{{ v.title }} </b></a><br>Views: {{ v.views }}
              </div>
          </div>
      {% endfor %}

            </div>
    </div>


{% endblock %}
{% block js_files %}
    <script type='text/javascript'>
 $(document).ready(function() {
      $("#review-form").submit(function(e){
        var text = $('#review-area').val();
        var video_id = $("video").attr('id');
        var url = "http://127.0.0.1:8000/rated-video/"+video_id+"/";
        var token = $('#review-form > input[name=csrfmiddlewaretoken]').val();
        e.preventDefault();
        if($('input[name=star]').is(':checked') && (text != "") && (text.length > 0) ){
          var rating = $('input[name=star]:checked').val();
          $.ajax({
            type:'POST',
            url:url,
            data:{
              rated:'yes',
              rating:rating,
              text:text,
              csrfmiddlewaretoken:token
            },
            success:function(data){
              if (data.ok == 'yes') {
                location.reload();
              }
            }
          });
        }else{
          window.alert("You haven't rated or reviewed the video");
        }
      });

   });
</script>

{% endblock %}