{% extends "base.html" %}
{% block title %}Search Results Page{% endblock %}
{% block css_files %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
    .notimage {
   position: relative;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    h1{
      padding-top: 30px;
    }
    /*hr{
      border-color: white;
    }*/

    #view-btn{
      background-color: #99ccff !important;
      border-color: #99ccff !important;
      border-radius: 0px;
      color: white;
    }

    #view-btn:hover, #view-btn:active{
      background-color: #4da6ff !important;
      border-color: #4da6ff !important;
      color: white !important;
    }

    .material-icons{
      color: #ffcc00;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.material-icons:hover,
    .material-icons:active{
      color: #ffe680;
    }*/
    .fa-thumbs-o-up{
      color: #0066cc;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.fa-thumbs-o-up:hover,
    .fa-thumbs-o-up:active{
      color: #1a8cff;
    }*/
    .fa-thumbs-o-down{
      color: #cc3300;
      font-size: 24px; /* font-size: 18px; */
    }
    /*.fa-thumbs-o-down:hover,
    .fa-thumbs-o-down:active{
      color: #ff4000;
    }*/
    .btn-warning{
      border-radius: 0px;
      padding-right: 20px;
      background-color: #ffcc00;
      border-color: #ffcc00;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .open .dropdown-toggle.btn-warning {
      background-color: #ff9900;
      border-color: #ff9900;
    }
    .btn-danger{
      background-color: #ff3300;
      border-color: #ff3300;
      border-radius: 0px;
      padding-right: 20px;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
      background-color: #e62e00;
      border-color: #e62e00;
    }
    /*.glyphicon-remove{
      padding-right: 4px;
    }
    .glyphicon-pencil{
      padding-right: 4px;
    }*/
    .thumbnail{
      border-radius: 0px;
      border: 0;
    }
    h3{
      padding-top: 0px;
    }
    /*.btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle..btn-primary {
      background-color: #595959;
      border-color: #595959;
    }*/
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }

  </style>
{% endblock %}
{% block body %}
 {% include 'navbar.html' %}
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">

  {% if hasRes %}

    {% if term %}
      <h1 style="padding-left: 38%">Search results for: <i>{{ term }}</i></h1>
      <hr style="border-color: #ccebff;">
    {% endif %}

  {% else %}

    {% if term %}
      <p class="bg-info text-info" style="border-radius:0px; border:0;padding-left: 38%;">No search results for: <b><i>{{ term }}</i></b></p>
    {% else %}
      <p class="bg-info text-info" style="border-radius:0px; border:0;padding-left: 38%">No term was typed...</p>
    {% endif %}

  {% endif %}

  {% if hasRes %}

<p class="bg-info text-info" style="margin-left: 0px;font-size: 170%; !important;margin-right: 0px !important; padding-left: 3%;"><b>Channels</b></p><br>
      <div style="padding-left: 3%;" class="row">
      {% for channel in channels %}
          <div class="col-sm-3 col-md-2 col-bg-1">
             <h3><i>{{ channel.username }}</i></h3>
        {% if channel.profile.image == 'avatar/None/default_avatar.png'%}
            <a href="{% url 'channel' channel.username %}"><img src="{% static channel.profile.image %}" width="189" height="189" ></a>
        {% else %}
            <a href="{% url 'channel' channel.username %}"><img src="{{ channel.profile.image.url }}" width="189" height="189" ></a>
        {% endif %}</div>
      {% endfor %}</div>
    <br><br>
    <p class="bg-info text-info" style="margin-left: 0px;font-size: 170%; !important;margin-right: 0px !important; padding-left: 3%;"><b>Videos</b></p><br>
      <div style="padding-left: 3%;padding-right: 3%;" class="row">
      {% for video in results %}
       <div style=" padding:6px;font-size: 85%;" class="col-sm-3 col-md-2 col-bg-1">
      <div style=" border: 0; border-radius: 0px; box-shadow:0 10px 16px 0 rgba(4,4,4,0.2),0 6px 20px 0 rgba(4,4,4,0.19) !important;">
 <a href="{% url 's_vid' video.id %}">{% if not video.th %}
            <img src="{{ video.thumbnail }}" width="99.9%" height="58%">
        {% else %}
       <img src="{{ video.thumbnail.url }}" width="99.9%" height="58%">
        {% endif %}
          <div class="caption">
              <div style="
              color: darkslategrey;
      white-space: pre-wrap;
    width: 101%;
    height: 3em;
    overflow: hidden;
    text-overflow: clip;" > {{ video.title }}</div> </a>
          <b><a style="color: black;!important; float: left;" href="{% url 'channel' video.user.username %}">{{ video.user.username }}</a></b><div style="float: right">
            {% if video.avg_rating == 0.0 %}
                <img width="12px" height="12px" src="{% static 'bat.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 1 and video.avg_rating < 2  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 2 and video.avg_rating < 3 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 3 and video.avg_rating < 4  %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
      {% elif video.avg_rating >= 4 and video.avg_rating < 5  %}
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
          {% if video.avg_rating > 4.6 %}
                <img width="9px" height="12px" style="" src="{% static '75.png'%}" >
          {% elif video.avg_rating > 4.3 %}
                <img width="6px" height="12px" src="{% static '50.png'%}" >
          {% elif video.avg_rating > 4.0 %}
                <img width="3px" height="12px"  src="{% static '25.png'%}" >
          {% endif %}
          {% elif video.avg_rating == 5.0 %}
        <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
              <img width="12px" height="12px" src="{% static 'star.png'%}" >
      {% endif %}</div>
      <br><span style="float: left;"><b style="font-size: 82%" >Views: </b>
          {{video.views}}
      </span><BR>
 </div>
        </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
