{% extends "base.html" %}
{% block title %}Sign In Page{% endblock %}
{% block css_files %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
    .notimage {
   position: relative;
}
.flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
    hr{
      border-color: #ccebff;
    }

  </style>
{% endblock %}
{% block body %}
    {% include 'navbar.html' %}
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">

  <h1 style="padding-left: 38%">Sign In Here:</h1>
  <hr>
  <br>
  <p></p>
  <br>
  <form style="padding-left: 33%;" class="form-horizontal" hx-post="{% url 'sign_in' %}" hx-target="#homediv" hx-headers="{ 'X-CSRFToken': '{{ csrf_token }}' }" hx-swap="outerHTML">
    {% csrf_token %}

    {% if error %}
      <div class="form-group">
        <small class="alert alert-warning"><b>Error: </b>{{ error }}</small>
      </div>
      <br>
      <p></p>
    {% endif %}

    <div id="form-container">
      <div class="form-group">
        <label style="padding-right: 1%" class="control-label col-sm-2" for="uname">Username:</label>
        <div class="col-sm-10">
          <input style="width: 30%;" type="text" class="form-control" name="uname" id="uname" placeholder="Enter username.." hx-include="#uname">
        </div>
      </div>
      <div class="form-group">
        <label style="padding-right: 1%" class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
          <input style="width: 30%;" type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter password.." hx-include="#pwd">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success btn-lg" style="border-radius: 0px; border: 0;">Sign In !</button>
        </div>
      </div>
    </div>
  </form>

        </div>
{% endblock %}
