{% extends "base.html" %}
{% block title %}Upload Video Page{% endblock %}
{% block css_files %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css_files/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'UR8.png' %}">
  <style>.fill-width.dropdown {
    position: static;
}.dropdown-menu {
  max-width: auto;min-height: auto;
      background-color: #ccebff;position: absolute;

}
.dropdown-menu li a {

}
.fill-width.dropdown > .dropdown-menu {
    left: auto;
}
.fill-width.dropdown > .dropdown-menu > li > a {
   white-space: normal;
    padding-left: 6%;
}
    .notimage {
   position: relative;
}
    .flexbox { display: flex; }
    .flexbox .stretch { flex: 1; }
    .flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
    .flexbox div input { padding: .5em 1em; width: 100%; }
    .flexbox div button { padding: .5em 1em; white-space: nowrap; }
.note {
    position: absolute;
    top: 24px;
    text-align: center;
    color: black;
    width: 28px;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #595959 !important;
        border-color: #595959 !important;
    }
    h1{
      padding-top: 30px;
    }
    hr{
      border-color: #ccebff;
    }
  </style>
{% endblock %}
{% block body %}
     {% include 'navbar.html' %}
    <div id="homediv" style="width: 98%; padding-right:1%; padding-left:1%; padding-top: 1%; float: right;">
  <h1 style="padding-left: 40%">Upload Your Video Here:</h1>
  <hr width="100%">
  <br>
  <p></p>
  <br>
  <form style="padding-left: 40%" class="form-horizontal" action="{% url 'upload_video' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {% if form.title.errors %}
            <small><ul class="alert alert-warning" >{{ form.title.errors }}</ul></small>
        {% endif %}

        {{ form.title.label_tag }}
        <br>
        {{ form.title }}
        <br>
        <p></p>
        {% if form.title.help_text %}
          <small><ul class="alert alert-info">{{ form.title.help_text|safe }}</ul></small>
        {% endif %}
      </div>
      <div class="form-group">
        {% if form.description.errors %}
            <small><ul class="alert alert-warning" >{{ form.description.errors }}</ul></small>
        {% endif %}

        {{ form.description.label_tag }}
        <br>
        {{ form.description }}
        <br>
        <p></p>
        {% if form.description.help_text %}
          <small><ul class="alert alert-info">{{ form.description.help_text|safe }}</ul></small>
        {% endif %}
      </div>
        <div class="form-group">
        {% if form.video.errors %}
            <small><ul class="alert alert-warning" >{{ form.video.errors }}</ul></small>
        {% endif %}

        {{ form.video.label_tag }}
        <br>
        <input type="file" name="video" accept="video/mp4">
        <br>
        <p></p>
        {% if form.video.help_text %}
          <small><ul class="alert alert-info">{{ form.video.help_text|safe }}</ul></small>
        {% endif %}
      </div>
      <div class="form-group">
        {% if form.thumbnail.errors %}
            <small><ul class="alert alert-warning" >{{ form.thumbnail.errors }}</ul></small>
        {% endif %}

        {{ form.thumbnail.label_tag }}
        <br>
        <input type="file" name="thumbnail" accept="image/*">
        <br>
        <p></p>
        {% if form.thumbnail.help_text %}
          <small><ul class="alert alert-info">{{ form.thumbnail.help_text|safe }}</ul></small>
        {% endif %}
      </div>
      <div class="form-group">
        {% if form.tags.errors %}
            <small><ul class="alert alert-warning" >{{ form.tags.errors }}</ul></small>
        {% endif %}

        {{ form.tags.label_tag }}
        <br>
        <input type="text" name="tags">
        <br>
        <p></p>
        {% if form.tags.help_text %}
          <small><ul class="alert alert-info">{{ form.tags.help_text|safe }}</ul></small>
        {% endif %}
      </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-lg btn-success" style="border-radius:0px;border:0;">Upload Video</button>
      </div>
    </div>

  </form>
    </div>
{% endblock %}
